.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3367D6;
  height: 22px;
  padding: 10px 0;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.app-no-spacing {
  padding: 0;
  margin: 0;
}

.app-title-tagline {
  font-style: italic;
  font-size: 0.6em;
  opacity: 0.5;
}

.app-space-between {
  display: flex;
  justify-content: space-between;
}

.app-title-click {
  cursor: pointer;
  text-decoration: none;
}
.link {
    text-decoration: none;
    padding: 5px;
}
.link:visited {
    color: white;
}

.app-title-click:hover {
  opacity: 0.5;
}

.main-content {
  position: absolute;
  left: 0;
  width: 100px;
  z-index:1;
  height:100%;
  background-color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
